In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
df = pd.DataFrame(
    [
        (1.0, 10),
        (1.3, 12),
        (1.5,  8),
        (1.8,  5),
        (2.1, 13)
    ],
    columns=['v','n']
)
df

     v   n
0  1.0  10
1  1.3  12
2  1.5   8
3  1.8   5
4  2.1  13

Erzeuge ein `pd.Series`-Objekt, dass jeder einzelnen Ziehung eine Zeile zuordnet:

In [3]:
chn = itertools.chain.from_iterable([(n*[v]) for n,v in zip(df.n,df.v)])

sr = pd.Series(chn)
sr.describe()

count    48.000000
mean      1.539583
std       0.413465
min       1.000000
25%       1.300000
50%       1.500000
75%       2.100000
max       2.100000
dtype: float64

In [5]:
count = df.n.sum()
count

48

In [6]:
df['h'] = df['n']/count
df

     v   n         h
0  1.0  10  0.208333
1  1.3  12  0.250000
2  1.5   8  0.166667
3  1.8   5  0.104167
4  2.1  13  0.270833

In [7]:
v_mean = (df.v*df.h).sum()
v_mean

1.5395833333333333

In [8]:
v_std = ((count/(count-1)*(df.v-v_mean)**2*df.h).sum())**0.5
v_std

0.41346464683742573